In [1]:
##Import statements
#http://opendata.dc.gov/datasets/sex-offender-registry?geometry=-77.416%2C38.81%2C-76.479%2C38.997
import pandas as pd
from sqlalchemy import create_engine

### Store Sex Offender CSV into DataFrame###

In [2]:
csv_file = "Sex_Offender_Registry.csv"
offender_data_df = pd.read_csv(csv_file, encoding = 'latin1')
offender_data_df.head()

,X,Y,OBJECTID,BLOCK_X,BLOCK_Y,DCS_LAST_MOD_DTM,SEXOFFENDERCODE,ADDDATE,LASTNAME,FIRSTNAME,...,EYECOLOR,HAIRCOLOR,MARKINGS,REGISTRATIONDATE,TYPE,DISTRICT,PSA,BLOCKNAME,QUADRANT,ZIP
0,-76.977591,38.896951,3381936,401944,136566,2019-01-04T06:15:21.000Z,000-443,2012-12-10T00:00:01.000Z,WILKES,EARL,...,BROWN,BLACK,NaN,2001-10-03T00:00:00.000Z,HOME,5.0,507.0,1800 - 1899 BLOCK OF ROSEDALE STREET NE,NE,20002
1,-77.013656,38.897714,3381937,398816,136651,2019-01-04T06:15:21.000Z,000-444,2011-02-17T09:03:01.000Z,ISRAEL,GILDEON,...,BROWN,BLACK/GRAY,NaN,2011-03-04T00:00:00.000Z,HOME,1.0,103.0,500 - 721 BLOCK OF 2ND STREET NW,NW,20001
2,-76.948721,38.864538,3381938,404451,132969,2019-01-04T06:15:21.000Z,000-445,2001-06-21T09:16:37.000Z,DAVIS,ALLEN,...,BROWN,BLACK,NaN,2001-06-21T00:00:00.000Z,HOME,6.0,606.0,3901 3998 BLOCK OF PENNSYLVANIA AVENUE SE,SE,20020
3,-76.982094,38.915404,3381939,401553,138615,2019-01-04T06:15:21.000Z,000-449,2012-12-10T00:00:01.000Z,WIGFALL,JAMES,...,BROWN,BLACK,NaN,2000-12-06T00:00:00.000Z,WORK,5.0,505.0,1429 - 1599 BLOCK OF OKIE STREET NE,NE,20002
4,-77.056791,38.932610,3381940,395076,140526,2019-01-04T06:15:21.000Z,000-451,2012-12-10T00:00:00.000Z,MCNAIR,BISHOP,...,BROWN,BALD,NaN,2003-11-19T00:00:00.000Z,HOME,2.0,204.0,3200 - 3299 BLOCK OF CONNECTICUT AVENUE NW,NW,20008

In [4]:
connection_string = "root:#Mustang88#@localhost/sex_offender"
engine = create_engine(f'mysql://{connection_string}', pool_size=10, max_overflow=20,)
engine.table_names()
offender_data_df.to_sql(name='profile', con=engine, if_exists='append', index=False)

In [17]:
pd.read_sql_query('select * from profile', con=engine).head()

,X,Y,OBJECTID,BLOCK_X,BLOCK_Y,DCS_LAST_MOD_DTM,SEXOFFENDERCODE,ADDDATE,LASTNAME,FIRSTNAME,...,EYECOLOR,HAIRCOLOR,MARKINGS,REGISTRATIONDATE,TYPE,DISTRICT,PSA,BLOCKNAME,QUADRANT,ZIP
0,-76.977591,38.896951,3381936,401944,136566,2019-01-04T06:15:21.000Z,000-443,2012-12-10T00:00:01.000Z,WILKES,EARL,...,BROWN,BLACK,None,2001-10-03T00:00:00.000Z,HOME,5.0,507.0,1800 - 1899 BLOCK OF ROSEDALE STREET NE,NE,20002
1,-77.013656,38.897714,3381937,398816,136651,2019-01-04T06:15:21.000Z,000-444,2011-02-17T09:03:01.000Z,ISRAEL,GILDEON,...,BROWN,BLACK/GRAY,None,2011-03-04T00:00:00.000Z,HOME,1.0,103.0,500 - 721 BLOCK OF 2ND STREET NW,NW,20001
2,-76.948721,38.864538,3381938,404451,132969,2019-01-04T06:15:21.000Z,000-445,2001-06-21T09:16:37.000Z,DAVIS,ALLEN,...,BROWN,BLACK,None,2001-06-21T00:00:00.000Z,HOME,6.0,606.0,3901 3998 BLOCK OF PENNSYLVANIA AVENUE SE,SE,20020
3,-77.056791,38.932610,3381940,395076,140526,2019-01-04T06:15:21.000Z,000-451,2012-12-10T00:00:00.000Z,MCNAIR,BISHOP,...,BROWN,BALD,None,2003-11-19T00:00:00.000Z,HOME,2.0,204.0,3200 - 3299 BLOCK OF CONNECTICUT AVENUE NW,NW,20008
4,-77.019052,38.975297,3381941,398349,145263,2019-01-04T06:15:21.000Z,000-457,2012-12-10T00:00:00.000Z,FORD,ROBERT,...,BROWN,BLACK/GRAY,None,2007-08-17T00:00:00.000Z,HOME,4.0,401.0,7000 - 7099 BLOCK OF BLAIR ROAD NW,NW,20012